a {
    text-decoration: none;
}

h1 {
    margin: 80px 0px 50px 220px;
    padding-left: 20px;
    color: #000;
    text-align: left;
    border-left: 8px solid #000;
}

span {
    color: #000;
    font-size: 2rem;
}

.header-container {
    width: 100%;
    margin-right: 30px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header-nav {
    display: flex;
    align-items: center;
    gap: 60px;
}

.header__link {
    color: #fff;
}

.staff-list__group {
    width: 100%;
    height: 100%;
    background-color: #E1E1E1;
    font-size: 1.6rem;
    font-weight: bold;
    color: #737373;
    text-align: center;
}

.staff-list {
    width: 70%;
    margin: 0 auto;
    border-collapse: separate;
    border-spacing: 0;
    border: 1px solid #E1E1E1;
    border-radius: 10px;
    overflow: hidden;
}

.staff-list th,
.staff-list td {
    border-bottom: 2px solid #E1E1E1;
}

.staff-list_label,
.staff__data {
    padding: 16px 8px;
    background-color: #fff;
    text-align: center;
}


.detail {
    display: block;
    color: #000;
    font-weight: bold;
}



@media screen and (max-width: 850px) {
    .header-container {
        flex-direction: column;
        align-items: stretch;

        gap: 10px;
    }

    .header-nav {
        justify-content: center;
        flex-wrap: wrap;

        gap: 10px;
    }
}